.container {
  background-color: #2d197c;
  height: 100vh;
  width: 100vw;
  position: relative;

}

.card {
  background-color: #fff;
  width: 50vw;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;

}

.input-add {
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;

}


.button-add {
  text-align: left;
  border: 2px solid #dc70fa;
  background-color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;

}

.tr {
  height: 50px;
}

.Todo-table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;

}

.input-update {
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-style: 14px;

}

.button-update {
  text-align: left;
  border: 2px solid #fa9770;
  background-color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;

}

.button-delete {
  text-align: left;
  border: 2px solid #71fadc;
  background-color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;


}